		<!-- 
		<form ng-submit="s.addProduct(store.p); store.p={};" name="productForm" novalidate="true">
			<blockquote ng-repeat="p in s.products">
				<b>
					Stars:{{p.reviews.stars}}
				</b>
					{{p.reviews.comment}}
				<cite>
					by:{{p.reviews.author}}
				</cite>
			</blockquote>

		
			<div class="form-group" >
				<label for="stars">
					Rate product:
				</label>
				<select class="form-control" id="stars" ng-model="r.reviews.stars" required>
					<option value="1">1 Stars</option>
					<option value="2">2 Stars</option>
					<option value="3">3 Stars</option>
					<option value="4">4 Stars</option>
					<option value="5">5 Stars</option>
				</select>
			</div>
			<div class="form-group">
				<label for="comment">Add your product comments:</label>
				<textarea class="form-control" ng-model="r.reviews.comment" name="" id="comment" cols="30" rows="10" placeholder="Add your comments.." required></textarea>
			</div>
			<div class="form-group">
				<label for="author">Please add your email:</label>
				<input class="form-control" type="text" ng-model="r.reviews.author" placeholder="email@example.com" required>
			</div>
			<div class="well">
				reviewForm is {{reviewForm.$valid}}
			</div>
			<div class="form-group pull-right">
				<input class="form-control btn btn-primary" type="submit" value="Send Review">
			</div>
		</form>
	 -->